<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <strong>RFP Management System</strong>
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeMenu === 'dashboard'" (click)="setActiveMenu('dashboard')">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeMenu === 'rfps'" (click)="setActiveMenu('rfps')">
            RFPs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeMenu === 'vendors'" (click)="setActiveMenu('vendors')">
            Vendors
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeMenu === 'proposals'" (click)="setActiveMenu('proposals')">
            Proposals
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-4">
  <app-dashboard *ngIf="activeMenu === 'dashboard'"></app-dashboard>
  <app-rfps *ngIf="activeMenu === 'rfps'"></app-rfps>
  <app-vendors *ngIf="activeMenu === 'vendors'"></app-vendors>
  <app-proposals *ngIf="activeMenu === 'proposals'"></app-proposals>
</div>
